/****************************
GLOBAL VARIABLES
****************************/
:root {
  --bl-plum-0: #e7e7ee;
  --bl-plum-1: #a9a9d6;
  --bl-plum-2: #8686a8;
  --bl-plum-3: #545468;
  --bl-gray-1: #b2b2b2;
  --bl-gray-2: #8c8c8c;
  --bl-gray-3: #595959;
  --bl-gray-4: #333333;
  --bl-red-3: #803760;
  --bl-yellow-0: #ebead5;
  --bl-yellow-1: #c2be7a;
  --bl-yellow-2: #8c884d;
  --bl-yellow-3: #59551f;
  --font-regular: "FirsNeue-Regular";
  --font-bold: "FirsNeue-Bold";
}

/****************************
GLOBAL TYPOGRAPHY
****************************/
@font-face {
  font-family: "FirsNeue-Regular";
  src: url("./assets/fonts/FirsNeue-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "FirsNeue-Bold";
  src: url("./assets/fonts/FirsNeue-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

body,
p,
a,
form,
button,
input,
ol,
ul,
li {
  font-family: var(--font-regular);
}

body {
  background-color: var(--bl-plum-1);
}

a,
a:active,
a:hover,
a:visited {
  color: var(--bl-gray-4);
}

li {
  font-size: 0.9em;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

li > a,
a:active,
a:hover,
a:visited {
  color: var(--bl-gray-4);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-bold);
}

/****************************
ELEMENTS
****************************/

body > #root > div {
  height: 100vh;
}

/****************************
CLASSES
****************************/
.btn {
  color: white;
  background-color: var(--bl-plum-3);
}

.text-white {
  color: white;
}

.text-plum {
  color: var(--bl-plum-3);
}

.home-backpic {
  background-image: url("./assets/img/Hang-Gliding-01.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bucketlist-backpic {
  background-image: url("./assets/img/Travel_Norway.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bucketlistDiv {
  min-height: 100%;
  height: 100%;
}

/****************************
IDs
****************************/
